container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.array-display {
    color: #444;
    font-style: italic;
    padding: 10px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-weight: 600;
    margin: 0px 10px 10px 0px;
}

button {
    padding: 9px 8px;
    border-radius: 5px;
    border-width: 1px;
    border-color: gray;
    background: rgb(222,222,222);
    background: linear-gradient(90deg, rgba(222,222,222,1) 0%, rgba(205,205,205,1) 35%, rgba(188,188,188,1) 100%);
}

input {
    padding: 5px;
    border-radius: 4px;
    border-width: 1px;
    border-color: dodgerblue;
}